<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>65</string>
	<key>B</key>
	<string>66</string>
	<key>C</key>
	<string>67</string>
	<key>D</key>
	<string>68</string>
	<key>E</key>
	<string>69</string>
	<key>F</key>
	<string>70</string>
	<key>G</key>
	<string>71</string>
	<key>H</key>
	<string>72</string>
	<key>I</key>
	<string>73</string>
	<key>J</key>
	<string>74</string>
	<key>K</key>
	<string>75</string>
	<key>L</key>
	<string>76</string>
	<key>M</key>
	<string>77</string>
	<key>N</key>
	<string>78</string>
	<key>O</key>
	<string>79</string>
	<key>P</key>
	<string>80</string>
	<key>Q</key>
	<string>81</string>
	<key>R</key>
	<string>82</string>
	<key>S</key>
	<string>83</string>
	<key>T</key>
	<string>84</string>
	<key>U</key>
	<string>85</string>
	<key>V</key>
	<string>86</string>
	<key>W</key>
	<string>87</string>
	<key>X</key>
	<string>88</string>
	<key>Y</key>
	<string>89</string>
	<key>Z</key>
	<string>90</string>
	<key>0</key>
	<string>48</string>
	<key>1</key>
	<string>49</string>
	<key>2</key>
	<string>50</string>
	<key>3</key>
	<string>51</string>
	<key>4</key>
	<string>52</string>
	<key>5</key>
	<string>53</string>
	<key>6</key>
	<string>54</string>
	<key>7</key>
	<string>55</string>
	<key>8</key>
	<string>56</string>
	<key>9</key>
	<string>57</string>
	<key>a</key>
	<string>97</string>
	<key>b</key>
	<string>98</string>
	<key>c</key>
	<string>99</string>
	<key>d</key>
	<string>100</string>
	<key>e</key>
	<string>101</string>
	<key>f</key>
	<string>102</string>
	<key>g</key>
	<string>103</string>
	<key>h</key>
	<string>104</string>
	<key>i</key>
	<string>105</string>
	<key>j</key>
	<string>106</string>
	<key>k</key>
	<string>107</string>
	<key>l</key>
	<string>108</string>
	<key>m</key>
	<string>109</string>
	<key>n</key>
	<string>110</string>
	<key>o</key>
	<string>111</string>
	<key>p</key>
	<string>112</string>
	<key>q</key>
	<string>113</string>
	<key>r</key>
	<string>114</string>
	<key>s</key>
	<string>115</string>
	<key>t</key>
	<string>116</string>
	<key>u</key>
	<string>117</string>
	<key>v</key>
	<string>118</string>
	<key>w</key>
	<string>119</string>
	<key>x</key>
	<string>120</string>
	<key>y</key>
	<string>121</string>
	<key>z</key>
	<string>122</string>
</dict>
</plist>
